
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 70%;
    margin: auto;
}

#black{
    color: black;
}

.self-center{
    align-self: center;
}